{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="{% static 'places/mian.css' %}"/>

    <title>Bilol Honest Travel</title>
</head>
<body>
<header class="header">
    <nav class="container">
        <div class="header-wrapper">
            <div>
                <a href="{% url 'home' %}">
                    <img class="logo" src="{% static 'places/img/logo.png' %}" alt="logo"/>
                </a>
            </div>
            <form action="" method="get">
                <div class="position-input">
                    <input
                            placeholder="Joylarni qidirish"
                            class="header-input"
                            type="text"
                            name="q"
                    />
                    <img
                            class="input-img-position"
                            width="25px"
                            src="{% static 'places/img/inputLogo.png' %}"
                            alt="inputlogo"
                    />
                </div>
            </form>
            <ul class="header-list">
                <li>
                    <a class="header-link" href="{% url 'home' %}">Home</a>
                </li>
                <li>
                    <a class="header-link" href="./aboutUs.html">About</a>
                </li>
            </ul>
        </div>

        <div class="header-end">
            <h1 class="header-item">Bilol Honest Travel</h1>
            <p class="header-text">
                Siz sayohat qilishni rejalashtirayapsizmi, lekin qaerdan boshlashni bilmayapsizmi? Biz siz uchun bu
                jarayonni oson va zavqli qilamiz! Bilol Honest Travel dunyo bo‘ylab eng qiziqarli manzillarni kashf
                qilishga yordam beradi. Sizga kerak bo‘lgan hamma narsani – yo‘llanma, turar joy, ekskursiyalar – bir
                joydan oling va biz bilan yangi joylarni kashf eting
            </p>
            <button class="header-btn">Batafsil</button>
        </div>
    </nav>
</header>

<main>
    <div class="container">
        <form action="" method="get">
            <div class="input-main">
                <input
                        placeholder="qidirish..."
                        class="input-search"
                        type="text"
                        name="q"
                />
            </div>
        </form>

        <div class="main-wrapper">
            {% for place in places %}
                <div class="card">
                    <img
                            src="{{ place.first_image }}"
                            alt=""
                    />
                    <div class="card-content">
                        <h2>{{ place.name }}</h2>
                        <p>
                            {{ place.description|truncatechars:100 }}
                        </p>
                        <a href="{% url 'place_detail' place.slug %}" class="button"> Batafsil </a>
                    </div>
                </div>

            {% endfor %}


        </div>
    </div>
</main>

<footer>
    <div class="container">
        <div class="flex-footer">
            <h3 class="footer-item">
                Malumot olmoqchi bo'lsangiz izoh va telifoningzni qoldring
            </h3>
            <form class="form" action="" method="post">
                <div class="footer-form">
                    <input
                            placeholder="No'meringizni kiriting (+998...)"
                            class="inuts"
                            type="tel"
                            pattern="^\+?\d{12}$"
                            name="phone_number"
                            required
                    />
                    <textarea
                            placeholder="Izohingizni qoldiring"
                            cols="60"
                            rows="5"
                            class="text-area"
                            name="message"
                            id=""
                    >
              </textarea>
                    <button class="header-btn">Yuborish</button>
                </div>
            </form>
        </div>
    </div>
</footer>
</body>
</html>
